[Unit]
Description=Express Template JMM

[Service]
Type=simple
ExecStart=/home/ubuntu/.nvm/versions/node/v9.7.1/bin/node /home/ubuntu/express-api/index.js
WorkingDirectory=/home/ubuntu/express-api/

User=nobody
Group=nogroup

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
